<title>A simple dashboard</title>
<h3>Total number of the collected repositories</h3>
<p>Python: {{pyTotal}}</p>
<p>Java: {{javaTotal}}</p>
<p>CSharp: {{csTotal}}</p>
<br>
<h3>Number of the collected repositories with changes pushed during the last 60 seconds</h3>
<img src={{url}} alt="Chart" height="auto" width="50%">
<br><br>
<h3>Average number of stars</h3>
<img src={{url2}} alt="Chart" height="auto" width="50%">
<br>
<h3>Top 10 of most frequently used words in description</h3>
<h4>Python</h4>
<p>{{pyw1}} {{pyw2}} {{pyw3}} {{pyw4}} {{pyw5}} {{pyw6}} {{pyw7}} {{pyw8}} {{pyw9}} {{pyw10}}</p>
<h4>Java</h4>
<p>{{jaw1}} {{jaw2}} {{jaw3}} {{jaw4}} {{jaw5}} {{jaw6}} {{jaw7}} {{jaw8}} {{jaw9}} {{jaw10}}</p>
<h4>CSharp</h4>
<p> {{csw1}} {{csw2}} {{csw3}} {{csw4}} {{csw5}} {{csw6}} {{csw7}} {{csw8}} {{csw9}} {{csw10}}</p>
<p></p>
